include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
graft pychoreo/msg

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include msg svc docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
